* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

/*body{
  margin:0;
  padding: 0;
  background-color: #363636;
  font-family: "open sans";
 
}*/



/* ------------------------ NAVBAR ----------------*/


header{
  display:flex;
  height: 65px;
  justify-content: space-between;
  color: white;
  background: #007ff0

}

.logo {
  z-index: 1;
  margin: 0px;
  padding: 0%;
  height: 150px; 
  width: 150px;
  
}

header div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: MyWebFont;
  margin: 0;
}

header div i{
  font-size: 2rem;
  margin: 1rem;
}


header nav{
  padding: 1px;
}

nav ul li{
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

nav li a{
  padding: 2px;
  margin: 15px;
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in;
}

nav li a:hover{
  background: #e3c940;
  color: black;
}





/* MEDIAQUERIES */


@media (max-width: 1160px){
   .icon{
    font-size: 2rem;
    padding: 0.5rem;
  }

  nav li a:hover{
  background: none;
  color: black;
  }
}


@media (max-width: 850px){
  body{
    height: 100%;
  }
  .container-boxes{
    flex-direction: column;
  }
  .box:hover{
    background: rgba(255,255,255,.7);
    transform: none;
  }
  .titles h1{
  font-size: 3rem;
  }
}
body{
		font-family: "Open Sans";
		padding:0%;
		background:#eee;
		background-image:url(a.jpg);
		background-size:cover;
		
		
		
	}
	h2{
		background-color:#024990;
		font-size:3em;
		text-align:center;
		color:#000000;
	}
	img{
		margin-left:6px;
		width:300px;
		height:300px;

	}	
	/* style the images */
	.single-area{
		position:relative;
		overflow:hidden;
		margin-left:12px;
	}
	.area-img{
		transition:all .5s;
	    padding:1px;
		border-radius: 20%;
	}
    .fb{
		width:70%;
		height:70%;
	}
	.area-text{
		position:absolute;
		bottom:0;
		padding:10px;
		width:100%;
		background:#000000;
		color:#fff;
		transform:translateY(100%);
		transition: all .5s ease-out;
		opacity:80%;
	}
	.area-text,p{
		text-align:justify;
	
	}
	.single-area:hover .area-text{
		transform:translateY(0);
	}
	.single-area:hover .area-img{
		transform:scale(1.15);
	}
	.row .code{
		float:left;
		padding:6.3px;
	}	
	/*add and style  footer*/
    .footer {
		position:fixed;
		left:0;
		bottom:0;
		margin-top:430px;
		background-color:#007ff0;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
		box-sizing: border-box;
		width:100%;
		height:95px;
		text-align: left;
		font: normal 16px "open sans";
		padding: 15px 50px;
}

	.footer .footer-left p {
		color: #ffffff;
		font-family: "open sans";
		font-size: 14px;
		margin: 0;
}

	.footer p.links {
		font-family: "open sans";
		font-size: 18px;
		font-weight: bold;
		color: #ffffff;
		margin: 0 0 10px;
		padding: 0;
		transition: ease .25s;
}

.footer p.links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}


.footer .links a:before {
  content: "|";
  font-size: 20px;
  left: 0;
  color: #ffffff;
  display: inline-block;
  padding-right: 5px;
}

.footer .links .link-1:before {
  content: none;
}

.footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #c9dde9;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}


.fb {
  margin-top: 7px;
}
/*add hover*/
#pagedev:hover {
  background-color: #e3c940;
}
